<br>
<div class="divs">
    <h1>Talk Lists</h1>
</div>
<br>
<div class="dropdown" id="left">
    <font class="typohead">Filter by: &nbsp;&nbsp;&nbsp;</font>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Make a Selection
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
<br>
<div class="card-deck">
    <div class="card">
      <img src="assets/img/oratoria.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <p><a href="http://localhost:4200/wevent"><button type="button" class="btn btn-outline-dark">i'll attend</button></a></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/oratoria.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <p><button type="button" class="btn btn-outline-dark">i'll attend</button></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/oratoria.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <p><button type="button" class="btn btn-outline-dark">i'll attend</button></p>
      </div>
    </div>
  </div>
