<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TechTalk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Event</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My event
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Favorite</a>
            <a class="dropdown-item" href="#">Create a new event</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Free events</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <table width=100% >
      <tr>
          <td width=40% >
            <br><br><br><br>
              <div> <img  src="assets/img/ejConf.jpg" class="image" width=100%  alt="conferencia">
              </div>
              <div> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.7635127108465!2d-7
                0.59476734979263!3d-33.45546728067807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s
                0x9662cfbf28417e9d%3A0xb088aa6430c205c9!2zSXJhcnLDoXphdmFsIDM2NjUsIMORdcOxb2EsIFJlZ2nDs2
                4gTWV0cm9wb2xpdGFuYQ!5e0!3m2!1ses!2scl!4v1576809697846!5m2!1ses!2scl" class="map" width="100%" 
                height=300px frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>

          </td>
          <td width=60%>
            <h1 class="title">Conference Name <br><h3>05/23/2020 | 12:45</h3> 
             <br>
             <tr><font class="bodytext">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusm
              od tempor incidunt ut labore et dolore magna aliqua. Ut enim ad 
              minim veniam, quis nostrud exercitation ullamco laboris nisi
               ut aliquid ex ea commodi consequat</font>
             </tr>
            <tr>
               <br>
             <font class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusm
              od tempor incidunt ut labore et dolore magna aliqua. Ut enim ad 
              minim veniam</font>

            </tr>
            </h1>
              
           </td>



  </table>