<div class="row" style="margin: 0px; padding:0px;"> 
    <div class="row no-gutters">
        <div class="col-md-4"></div>
        <div class="col-md-1" style="margin: 80px; padding: 0px; width: 1400px; height: 20px" align="rigth">
          <img class="imagen-logo" src="assets/img/techtalk1.png" class="card-img" alt="NO FOUND!" >
          <img class="imagen-slogan" src="assets/img/see you.png" class="card-img" alt="NO FOUND!">
        </div>
    </div>
    <div class="col-4" ></div>
    <h2>Sigin up</h2>
    <div class="col-6"></div>
    <div class="col-4"></div>
    <div class="form-row">
            <div class="col">
                <label for="name" style="margin: 10px;">Name</label>
                <input type="text" class="form-control" id="name" placeholder="example">
            </div>
            <div class="col">
                <label for="age" style="margin: 10px;">Age</label>
                <input type="text" class="form-control" id="age" placeholder="00">
            </div>
    </div>
    <div class="col-12"></div>
    <div class="col-4"></div>
    
    
    <div class="form-row">
            <div class="col">
                <label for="email" style="margin: 10px;">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email@example.com">
            </div>
            <div class="col">
                <label for="password" style="margin: 10px;">Pasword</label>
                <input type="password" class="form-control" id="password" placeholder="xxxxxxx">
            </div>
    </div>
    <div class="col-12"></div>
    <div class="col-4"></div>
    <a href="http://localhost:4200/login"><button type="submit" class="btn btn-primary" style="margin: 15px;">Sign up</button></a>
</div>
   
         



