<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/gato1.jpgff"  alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/gato2.jpgff" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/gato.jpgff" alt="Third slide">
    </div>
  </div>
</div>
<div class="col-3">
  <div  class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Panel de Usuario
          </button>
        </h2>
      </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <button class="btn btn-link" tye="button" >
            Proximos eventos...
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Categorias
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <button class="btn btn-link" tye="button" >
            Ciber seguridad
          </button> <br>
          <button class="btn btn-link" tye="button" >
            Base de datos
          </button> <br>
          <button class="btn btn-link" tye="button" >
          Futuras nuevas tecnologias
          </button> <br>
          <button class="btn btn-link" tye="button" >
            Inteligencia Artificial
          </button>
          <br>
        </div>
    </div>
  </div>
</div>
</div>





